.landing {
    background-image: url(/images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20%;
}

#mouse-click {
    padding-top: 20px;
    margin-top: 8%;
    padding-bottom: 30px;
}
#mouse-click {
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-55px);
    }
    60% {
        transform: translateY(-45px);
    }
}
#logo {
    width: 80px;
    height: 80px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.about-us {
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
}
#services {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/images/backgrounds/s_image.jpg);
    color: whitesmoke;
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: 120%;
}
.what-we-do {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 40px;
}
.what-we-do .heading{
    padding-bottom: 40px;
}
.title{
    padding: 5px;
}

